.form__container {
    width: 450px;
    height: 420px;
    margin: 50px auto;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding-left: 40px;
  }
  
  .form__title {
    font-family: "Lato";
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2a414f;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 10px;
    color: #2a414f;
  }
  
  .form-control input {
    width: 375px;
    height: 45px;
    border: 1px solid #95a0a7;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
  }
  
  .btn__submit {
    width: 375px;
    height: 45px;
    background: rgba(145, 139, 129, 0.3);
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
  }
  
  .btn__submit:hover {
    background: rgba(86, 84, 81, 0.5);
  }
.login-google {
  width: 361px;
height: 41px;

background: #FFFFFF;
border: 1px solid #C7C7C7;
border-radius: 57px;
}
.line{
  width: 200px;
  border: 1px solid #AAAAAA;
}

@media only screen and (max-width: 576px) {
  .form__container {
    width: 350px;
    height: 450px;
  }
  .form-control input {
    width: 275px;
    height: 40px;
  }
  .btn__submit {
    width: 275px;
    height: 40px;
  }
  .line{
    width: 150px;
  }
}