.news-title {
    font-family: "Playfair Display", serif;
}

.news-email{
    width: 100vh;
    margin: 20px auto;
    height: 120px;
    width: 450px;
}

.email-input{
    width: 375px;
    height: 50px;
    border: 1px solid #95a0a7;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}

@media only screen and (max-width: 576px) {
    .news-email{
        height: 120px;
        width: 265px;
        margin-left: 20px;
    }
    .email-input{
        width: 180px;
        height: 50px;
    }
  }
  