@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
*/


/* utilities class*/
.active{
  @apply font-medium tracking-wide text-cyan-600 transition-colors duration-200
}

.default{
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-cyan-600
}