.hero-img img{
    width: 750px;
    height: 400px;
}
.banner-title{
    font-family: 'Playfair Display', serif;
}
.banner-text{
    background-color: rgb(206, 241, 255);
}
@media only screen and (max-width: 576px) {
    .hero-img img{
        height: 300px;
    }
  }